*, *:after, *:before{
  box-sizing: border-box;
}

:host > div{
  position: absolute;
  border-radius: 100px;
  background-color: currentColor;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &::before, &::after{
    content: "";
    position: absolute;
    background-color: inherit;
  }
  &::before{
    width: calc( 100% / 1.8333333333333333 );
    height: calc( 100% / 0.6666666666666666 );
    top: calc( 100% / -1.3333333333333333 );
    right: calc( 100% / 6.6 );
    border-radius: 200px;
  }
  &::after {
    width: calc( 100% / 3.3 );
    height: calc( 100% / 1.2 );
    top: calc( 100% / -2.4 );
    left: calc( 100% / 6.6 );
    border-radius: 100px;
  }
}

@keyframes cloud{
  0% {
    transform: translate3d( 0%, 0, 0 );
  }
  25% {
    transform: translate3d( -40%, 0, 0 );
  }
  75% {
    transform: translate3d( 80%, 0, 0 );
  }
  100% {
    transform: translate3d( 0%, 0, 0 );
  }
}

@keyframes cloud-reverse{
  0% {
    transform: translate3d( 0%, 0, 0 );
  }
  25% {
    transform: translate3d( 80%, 0, 0 );
  }
  75% {
    transform: translate3d( -40%, 0, 0 );
  }
  100% {
    transform: translate3d( 0%, 0, 0 );
  }
}